# Data handling
pandas
numpy
joblib
tabulate
openpyxl

# Visualization
matplotlib
seaborn
altair

# Machine learning
scikit-learn
xgboost

# Web app
streamlit

# Date / time
datetime

# Google / AI
gspread
google-generativeai
oauth2client

# Path handling
pathlib
