# Data handling
pandas
numpy
joblib
tabulate
openpyxl

# Visualization
matplotlib
seaborn
altair==4.2.2

# Machine learning
scikit-learn
xgboost

# Web app
streamlit==1.32.2

# Date / time
datetime

# Google / AI
gspread
google-generativeai
oauth2client

# Path handling
pathlib
